Prueba Técnica HIRCASA

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score, classification_report, accuracy_score, precision_score, recall_score

In [24]:
#Carga de datos
data = pd.read_excel('data (1).xlsx')
data_to_predict = pd.read_excel('data_to_predict (1).xlsx')
data.to_csv('data.csv', index=False)
data_to_predict.to_csv('data_to_predict.csv', index=False)
df_data=pd.read_csv('data.csv')
df_data_to_predict=pd.read_csv('data_to_predict.csv')

EDA y Limpieza

In [25]:
df_data.head()

,ID,ind_malo,hora_reg_norm,dia_reg,medio_contacto_grupo,tipo_mail_rango,ingreso_propio_norm,edad_norm,sexo,nivel_estudios,...,COMUNICACIONES,con_2m_norm,BURO_DE_CREDITO_C,BANCO_C,SIC_C,FINANCIERA_C,CONSUMIDOR_FINAL_C,MICROFINANCIERA_C,TIENDA_COMERCIAL_C,BANCOS_C
0,517534,0,0.434783,6,El Mejor Trato,hot,0.214286,0.006562,Mujer,Licenciatura,...,0.000000,0.200000,0.277778,0.166667,0.166667,0.111111,0.166667,0.0,0.055556,0.000000
1,1143911,0,0.869565,3,Facebook,gma,0.089286,0.014639,Hombre,Maestria,...,0.277778,0.266667,0.360000,0.320000,0.040000,0.160000,0.040000,0.0,0.000000,0.000000
2,1124994,0,0.956522,1,El Mejor Trato,gma,0.071429,0.016153,Hombre,Bachillerato,...,0.090909,0.066667,0.111111,0.111111,0.222222,0.000000,0.222222,0.0,0.222222,0.000000
3,200051,0,0.565217,2,Otro_medio,hot,0.125000,0.015144,Mujer,Bachillerato,...,0.058824,0.133333,0.142857,0.000000,0.000000,0.714286,0.000000,0.0,0.000000,0.000000
4,528679,0,0.434783,2,Otro_medio,hot,0.055714,0.003029,Hombre,Bachillerato,...,0.000000,0.066667,0.266667,0.266667,0.133333,0.066667,0.000000,0.0,0.000000,0.066667

In [26]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12660 entries, 0 to 12659
Data columns (total 54 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         12660 non-null  int64
 1   ind_malo                   12660 non-null  int64
 2   hora_reg_norm              12660 non-null  float64
 3   dia_reg                    12660 non-null  int64
 4   medio_contacto_grupo       12660 non-null  object
 5   tipo_mail_rango            12660 non-null  object
 6   ingreso_propio_norm        12651 non-null  float64
 7   edad_norm                  12660 non-null  float64
 8   sexo                       12660 non-null  object
 9   nivel_estudios             12660 non-null  object
 10  Estado                     12660 non-null  object
 11  destino                    12660 non-null  int64
 12  act_eco                    12660 non-null  object
 13  ing_cuota_pf_rv            12654 non-null  float64
 14  cuota_mensual_fijos        12660 non-null  int64
 15  cuota_mensual_revolventes  12660 non-null  int64
 16  hist_suf_pf_norm           12660 non-null  float64
 17  hist_suf_rv_norm           12660 non-null  float64
 18  bc_score_norm              12660 non-null  float64
 19  icc_norm                   12660 non-null  float64
 20  monto_prom_norm            12660 non-null  float64
 21  porc_deuda_12m_norm        12660 non-null  float64
 22  porc_fijos_norm            12660 non-null  float64
 23  porc_saldo_fijos_norm      12660 non-null  float64
 24  pagos_suf_limite_norm      12660 non-null  float64
 25  pagos_suf_limite_RV_norm   12660 non-null  float64
 26  creditos_general_norm      12660 non-null  float64
 27  creditos_general_ab_norm   12660 non-null  float64
 28  creditos_recientes_norm    12660 non-null  float64
 29  Saldo_Vencido_act_norm     12660 non-null  float64
 30  Saldo_Actual_PF_norm       12660 non-null  float64
 31  Saldo_Actual_RV_norm       12660 non-null  float64
 32  porc_deuda_rev_norm        12660 non-null  float64
 33  pagos_suf_limite_PF_norm   12660 non-null  float64
 34  porc_mop_1_norm            12660 non-null  float64
 35  ind_mop_4_9_norm           12660 non-null  float64
 36  mop_max_act_norm           12660 non-null  float64
 37  BANCO_HIP                  12660 non-null  float64
 38  BANCO_RV                   12660 non-null  float64
 39  BANCO_PF                   12660 non-null  float64
 40  AUTO                       12660 non-null  float64
 41  TIENDA_COMERCIAL           12660 non-null  float64
 42  FINANCIERA                 12660 non-null  float64
 43  MICROFINANCIERA            12660 non-null  float64
 44  COMUNICACIONES             12660 non-null  float64
 45  con_2m_norm                12660 non-null  float64
 46  BURO_DE_CREDITO_C          12660 non-null  float64
 47  BANCO_C                    12660 non-null  float64
 48  SIC_C                      12660 non-null  float64
 49  FINANCIERA_C               12660 non-null  float64
 50  CONSUMIDOR_FINAL_C         12660 non-null  float64
 51  MICROFINANCIERA_C          12660 non-null  float64
 52  TIENDA_COMERCIAL_C         12660 non-null  float64
 53  BANCOS_C                   12660 non-null  float64
dtypes: float64(42), int64(6), object(6)
memory usage: 5.2+ MB

Observo que hay diferentes tipos de datos y  que faltan 6 registros en 'ing_cuota_pf_rv' y 9 en 'ingreso_propio_norm' como el porcentaje de los registros flatantes es minimo (.11% tomando en cuenta el peor de los casos. Los registros faltantes en cada columna sean en diferentes filas) los voya eliminar

In [27]:
df_data=df_data.dropna()

#Al volver a ver la info veo que solo se eliminaron 9 registros por lo que si coincidian en filas los valores faltantes

In [28]:
#Chequeo de duplicados sobre ID
duplicados = df_data['ID'].duplicated().sum()
print(duplicados)

0

In [29]:
#Eliminar columnas irrelevantes para el modelo
df_data = df_data.drop(columns=['hora_reg_norm','tipo_mail_rango','destino'])

Al no tener contexto sobre los datos de las columnas y si estos pueden ser relevante spara futuros analisis decido solo eliminar 'hora_reg_norm','tipo_mail_rango','destino' ya que para futuros analisis considero suficiente tener el día, medio de contacto y estado

In [30]:
#Chequeo de nulos

In [31]:
print("\nDistribución de la variable objetivo:")
print(df_data['ind_malo'].value_counts(normalize=True))

Distribución de la variable objetivo:
ind_malo
0    0.788791
1    0.211209
Name: proportion, dtype: float64